.banner {
    display: flex;
    flex-direction: rows;
    background-color: white; 
    border-bottom: 10px double black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 80px;
    color: #22577A;
}