.locationsList {
    background-color: mediumaquamarine;
}

.locations {
    background-color: mediumseagreen;
    width: 50%;
    height: 50%;
}


.locations__picture {
    max-width: 15rem;
    max-height: 15rem;
}