.locationsList {
    background-color:#57cc99;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.locations {

    background-color:#c7f9cc;;
    margin-bottom: 1.25rem;
    text-align: center;
}


.locations__picture {
    max-width: 15rem;
    max-height: 15rem;
}