.locationList {
    background-color: mediumaquamarine;
}

.location {
    background-color: mediumseagreen;
}


.location__picture {
    max-width: 15rem;
    max-height: 15rem;
    border-radius: 25px;
    border: 2px solid black;
}