.quotesList {
    background-color: lightyellow;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.quotes {
    background-color: #57cc99;
    border: 2px solide black;
}
